<div id="contact" class="jumper" style="height:400px;">
	<h3> Our Fields</h3>
	<hr>
    <div class="row-fluid">
    	<div class="span12">
    	    <div class="span1"></div> 
			<div class="span3">
     	      <%= image_tag("ecommerce.jpg",  :class => "circular") %>
     	      <h3>Ecommerce Sites</h3>
			</div>
			 <div class="span1"></div>
			<div class="span3">
              <%= image_tag("banking.jpg", :class => "circular") %></a>
		         <h3>Banking Sector</h3> 
			</div>
			<div class="span1"></div>
			<div class="span3">
		        <%= image_tag("socialsites.jpg", :class => "circular") %>
		       <h3>Social Media</h3></a>
			</div>
		</div>	
    </div>		
</div>
<hr>
<style>
.circular {
	width: 160px;
	height: 160px;
	border-radius: 45px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	}
</style>