<div id="contact" class="jumper" style="height:400px;">
	<h3> Our Teams</h3>
	<hr>
    <div class="row-fluid">
    	<div class="span12" style="background: #CCC;">
    	    <div class="span1"></div> 
			<div class="span3">
     	      <a href="http://www.linkedin.com/profile/view?id=57784943&authType=name&authToken=2huy&offset=0&ref=PYMK&trk=prof-sb-pdm-pymk-photo"><%= image_tag("image1.jpg",  :class => "circular") %></a>
     	      <h3>Prashant Dixit</h3>
     	      <p> Software Developer </p>
			</div>
			 <div class="span1"></div>
			<div class="span3">
		      <a href="http://www.linkedin.com/profile/view?id=57784943&authType=name&authToken=2huy&offset=0&ref=PYMK&trk=prof-sb-pdm-pymk-photo"><%= image_tag("abhi.jpg", :class => "circular") %></a>
		         <h3>Abhisekh Singh</h3>
     	      <p> Software Developer </p> 
			</div>
			<div class="span1"></div>
			<div class="span3">
		        <%= image_tag("image3.jpg", :class => "circular") %>
		        <a href="http://www.linkedin.com/profile/view?id=57784943&authType=name&authToken=2huy&offset=0&ref=PYMK&trk=prof-sb-pdm-pymk-photo"><h3>Prashant Dixit</h3></a>
     	      <p> Software Developer </p> 
			</div>
		</div>	
    </div>		
</div>
<hr>
<style>
.circular {
	width: 160px;
	height: 160px;
	border-radius: 45px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	}
</style>