<div id="contact" class="jumper" style="height:400px;">
	<h3> Our Teams</h3>
	<hr>
    <div class="row-fluid">
    	<div class="span12" style="background: #CCC;">
    	    <div class="span1"></div> 
			<div class="span3">
     	      <%= image_tag("image1.jpg",  :class => "circular") %>
     	      <h3>Prashant Dixit</h3>
     	      <p> Software Developer </p>
			</div>
			 <div class="span1"></div>
			<div class="span3">
		        <%= image_tag("abhi.jpg", :class => "circular") %>
		         <h3>Abhisekh Singh</h3>
     	      <p> Software Developer </p> 
			</div>
			<div class="span1"></div>
			<div class="span3">
		        <%= image_tag("image3.jpg", :class => "circular") %>
		         <h3>Prashant Dixit</h3>
     	      <p> Software Developer </p> 
			</div>
		</div>	
    </div>		
</div>
<hr>
<style>
.circular {
	width: 180px;
	height: 180px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	}
</style>