<div id="home" class="jumper" style="height:350px;">
	<div>
		<h3>What We Do</h3>
		<p>We work with technology startups throughout the product lifecycle, right from conception till launch and thereafter.</p>
	</div>
  	<hr>
	<div class="row-fluid" style="background: #CCC;">
    	<div class="span12"  >
    	    <div class="span1"></div> 
			<div class="span3">
     	      <%= image_tag("Koala.jpg",  :class => "circular") %>
     	      <h3>Design</h3>
     	      <p> Architecture, User Interaction, User Experience,</p><p> Database Schema, Mockups, Scalability, Performance </p>
			</div>
			 <div class="span1"></div>
			<div class="span3">
		        <%= image_tag("Lighthouse.jpg", :class => "circular") %>
		         <h3>Develop</h3>
     	     Ruby, Rails, Scala, Akka, Python, SQL, NoSQL, CSS3, HTML5, Backbone, jQuery, Node.js, TDD, Cucumber, Rspec, Selenium, Yslow, iOS, Android 
			</div>
			<div class="span1"></div>
			<div class="span3">
		        <%= image_tag("Penguins.jpg", :class => "circular") %>
		         <h3>Deploy</h3>
     	      <p> AWS, Heroku, Capistrano, CDN, Auto Scaling, Load Balancing, Memcached, CI, Jenkins, Chef</p> 
			</div>
		</div>	
    </div>	

</div>
<hr>