<div id="what_we_do" class="jumper">	
<h1>What We Do</h1>
<p>Find me in app/views/static_pages/what_we_do.html.erb</p>
<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<p>Elizabeth Gilbert’s novel “The Signature of All Things” is about a botanist whose hunger for explanations </div>