<div id="form_customer">
  <form>
    <fieldset>
      <legend>Contact:</legend>
      Name: <input type="text" size="30"><br>
      Ph.Nu:<input type="text" size="30"><br/>
      email: <input type="text" size="30"><br>
      contxt: <input type="text"><br/>
      <input type="submit" value="Submit">
    </fieldset>
  </form>
</div>
<style>
  #form_customer{
    border:2px solid #a1a1a1;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:45px;
    padding-left:50px; 
    background:#dddddd;
    width:400px;
    border-radius:30px;
    margin-left:21px;
  }
</style>
