<div class="fields" style="background-image:url('/assets/Planet-Sky-Bright.jpg')">
	<%= render "static_pages/what_we_do" %>
	<%= render "static_pages/contact" %>
	<%= render "static_pages/home" %>
</div>
<style>
.fields{
border:2px solid #a1a1a1;
padding-top:31px;
padding-bottom:40px;
padding-left: 120px;
padding-right:120px; 
background:#dddddd;
width:100%
border-radius:75px;
margin-left:20px;
}
</style>