<footer class="navbar navbar-inverse">
  <div class="navbar-inner">
   <div class="row-fluid">
      <div class="span12"> 
        <div class="span4 invent">
          <b>By Prashant Dixit</b>
        </div>
        <div class="span4 site_links"><a href="http://railstutorial.org/">White Horse</a></div>
        <div class="links_footer span4">
          <ul>
            <li><%= link_to "About",   '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
            <li><a href="#">News</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
   
<style>
.navbar-inverse .navbar-inner{
  background-image:none;
  color:#CEC6C6;
}
.navbar-inner .links_footer ul li, .navbar-inner .site_links, .invent b{ 
    color: #AEAEAE;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 60px;
    text-transform: uppercase;
  }
</style>