<header class="navbar navbar-inverse" id="mydiv" >
  <div class="navbar-inner">
    <div class="container">
      <div class="row-fluid box">
        <div class="span12"> 
          <div class="span4">
            <h2>Xemoff.com</h2>
          </div>
          <div class="span2"%></div>
          <div class="span4">
            <nav>
              <ul class="nav pull-right diplay">
                <li class="jumper"></li>
              </ul>	
            </nav>
          </div>  
    </div> 
  </div>
</header>
 

<script>
  $(window).scroll(function (event) {
    var top = $('.box').offset().top;
    var y = $(this).scrollTop();
    if (y >= 850 ) { $('.box').addClass('fixed');}
    else { $('.box').removeClass('fixed');}
  });
</script>
<style>
.boxes {
     position: absolute;
}
.navbar .nav.pull-right{
  padding-left:10px;
}
.fixed {
    position: fixed;
    top: 0px;
    background:#15A1C4;
    width: 110%;
    margin-left: -22px;
}
.fixed h2 {
  padding-left:23px;
  color: white;
}
.fixed h5 {
margin-right: 102px;
}
.navbar-inverse .navbar-inner{
  background:#15A1C4;
  margin-left: -22px;
}
.diplay{
  margin-left: 10px;
}
.jumper{
  padding-right: 10px;
}
</style>