<div class="image_class" style="width:500px;height:100px;"><h1>XemOff.com</h1></div>>

<div class="location_of_images" style="margin-top:-60px;">
  <%= image_tag('/assets/Planet-Sky-Bright.jpg') %>
</div>

<style>
.image_class{
	width:500px;
	height:100px;
}
.image_class h1{
	color: white;
}

</style>